<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlendingAlbum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6419C5561DD16A610066A270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6419C56F1DD16A630066A270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6419C57A1DD16A630066A270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
